html,body{
	margin: 50px;
	font-family: 'Open Sans',sans-serif

}

a,a:visited{
	color: inherit !important;
}
.be-red{
	background-color: red;
}

.white{
	color: white
}

.large-padding{
	padding: 15px 10px
}